<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mh-log</title>
</head>
<body>
    <header>
        <h1>제목</h1>
    </header>

    <aside>
        <p>mh</p>
        <p><a id="email" href="mailto:test@test.test">uno@mail.com</a></p>
        <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
        <p><span id="hashtag" class="badge text-bg-secondary mx-1"><a class="text-reset">#java</a></span></p>
    </aside>

    <section>
        <p>본문<br><br></p>

        <div>
            <form>
                <label for="comment" hidden>댓글</label>
                <textarea id="comment" placeholder="댓글 쓰기.." rows="3"></textarea>
                <button type="submit">쓰기</button>
            </form>

            <ul>
                <li>
                    <div>
                        <time><small>2023-11-14</small></time>
                        <strong>mh</strong>
                        <p>
                            댓글 테스트 입니다.1 <br>
                            댓글 테스트 입니다.1
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2023-01-14</small></time>
                        <strong>mh2</strong>
                        <p>
                            댓글 테스트 입니다.2 <br>
                            댓글 테스트 입니다.2
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <nav>
            <a href="#">이전 글</a>
            <a href="#">다음 글</a>
        </nav>
    </section>

<main>

</main>

<footer></footer>
</body>
</html>